<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js"></script>
  <script type="text/coffeescript" src="ng-coffee.coffee"></script>
  <script type="text/coffeescript" src="example.coffee"></script>
</head>
<body>
  <div ng-controller="ListCtrl">
  <h1>{{ appName }}</h1>
  <h3>{{ title }}</h3>
  <button ng-click="sayHello('There')">Say Hello</button>

  <item ng-repeat="city in cities | gt: 5000000" city="city"></item>

  <p start-at="15" count></p>
  </div>
</body>
</html>